{% extends "Myhospital/hospital_home.html" %}

{% load bootstrap_tags %}

{% block content %}

<div class="container">
    <div class="col-md-8 mt-3 left">

        {% if doctor_list %}
        <ul>
            {% for doctor in doctor_list %}
            <li><a href="">{{ doctor.user.username }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No doctors are available.</p>
        {% endif %}
    </div>

    <div class="">
        <ul>
            <li><a href="{% url 'add_doctor' %}">add doctor</a></li>
        </ul>
    </div>
</div>


{%endblock%}