{% extends "base.html" %}



{% block content %}
        {% load crispy_forms_tags %}
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="form-group">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <br>
                    <input type="submit" class="btn btn-primary btn-block" value="Edit Post"/>
                </form>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <br/><br/>

{% endblock %}

