<form action="{% url "add_alert" %}" method='POST'> {% csrf_token %}
    <label>Message</label><br/>
    <input type="text" name="message"><br/>
    <label>Asset id</label><br/>
    <input type="text" name="asset_id"><br/>
    <label>Min Value</label><br/>
    <input type="number" name="min_value"><br/>
    <label>Max Value</label><br/>
    <input type="email" name="max_value"><br/>
    <input type="submit" value="Creer" class="apply-button"/>
    {% if user.is_authenticated %}
        Userid: {{ user.id }}
    {% endif %}
</form>