{% extends "base.html" %}
{% block content %}

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-black"> Welcome to SeelK </h3>
                    <p class="text-black"> Your platform for cryptoCurrency
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>


<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">

            <div class="card mb-4">
                <div class="card-body"></div>
            </div>

        </div>
    </div>
</div>

{%endblock%}